%h2 Edit Movie

- unless @movie.errors.empty?
  #warning
    Errors prevented this movie from being #{controller.action_name}d:
    %ul
      - @movie.errors.full_messages.each do |error|
        %li= error

= form_tag movie_path(@movie), :method => :put do

  = label :movie, :title, 'Title'
  = text_field :movie, 'title'

  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['G','PG','PG-13','R','NC-17']
 
  = label :movie, :release_date, 'Released On'
  = date_select :movie, :release_date

  = label :movie, :description, 'Description' #Project 4.7
  = text_area :movie, 'description'

  %br

  = submit_tag 'Save Changes'
  -#= link_to 'Cancel', movies_path 
  -#Project 4.4
  = link_to 'Cancel', movie_path(@movie) 
  -#Project 4.5
